.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;

  width: 100%;
  transform: scale(0.85);
}
@media only screen and (max-width: 991px) {
  .wrapper {
    max-width: 546px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding-top: 140px;
    padding-bottom: 80px;
    width: 100%;
    transform: scale(1);
  }
}
